<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Announcement Management</title>
  {% load static %}
  <link href="{% static '/css/announcements_style.css' %}" rel="stylesheet" >
</head>
<body>
  <div class="container">
    <h1>Announcement Management</h1>
    <div class="buttons">
      <a href="resident_announcements.html">
        <button class="btn">Resident Announcements</button>
      </a>
      <a href="staff_announcements.html">
        <button class="btn">Staff Announcements</button>
      </a>
      </div>
  </div>
</body>
</html>
