<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager Dashboard</title>
  {% load static %}
  <link href="{% static '/css/dasboard_style.css' %}" rel="stylesheet" >
</head>
<body>
  <div class="container">
    <h1>Manager Dashboard</h1>
    <div class="buttons">
      <a href="apartment.html">
        <button class="btn">Apartment Management</button>
      </a>
      <a href="staff_manager.html">
        <button class="btn">Staff Management</button>
      </a>
      <a href="complaints.html">
        <button class="btn">Complaints</button>
      </a>
      <a href="announcements.html">
        <button class="btn">Announcements</button>
      </a>
    </div>
  </div>
</body>
</html>
