<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff Management</title>
  {% load static %}
  <link href="{% static '/css/staff_manager_style.css' %}" rel="stylesheet" >
</head>
<body>
  <div class="container">
    <h1>Staff Management</h1>
    <div class="buttons">
      <a href="add_new_staff.html">
        <button class="btn">Add New Staff</button>
      </a>
      <a href="view_staff.html">
        <button class="btn">View Staff</button>
      </a>
      <a href="staff_attendance.html">
        <button class="btn">Staff Attendance</button>
      </a>
    </div>
  </div>
</body>
</html>
